:host{
    display: block;
    // background-color: rgb(75, 146, 146);
    height: 100vh;
    // width: 100%;
    padding: 10px;
    background-image: url('https://th.bing.com/th/id/OIP.b4_BXsNkMLRfmBs1K7JBfgHaEV?w=314&h=183&c=7&r=0&o=5&pid=1.7');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}